.row.first-slide
  .large-4.large-offset-2.small-10.small-offset-1.columns.content.padding.border-radius
    %h2 Hej
    %p Chcesz rzucić okiem na moją osobę?
    %p Zerknąć na realizowane projekty?
    %p A może poprostu zobaczyć kim jestem?
.row.second-slide
  .large-12.columns.center
    %p Hejos
  .large-12.columns.center
    %p Hejos
  .large-12.columns.center
    %p Hejos
  .large-12.columns.center
    %p Hejos
  %hr
.row.third-slide
  .large-12.columns.center
    %p Hejos
  .large-12.columns.center
    %p Hejos
  .large-12.columns.center
    %p Hejos
  .large-12.columns.center
    %p Hejos
.row.third-slide
  .large-12.columns.center
    %p Hejos
  .large-12.columns.center
    %p Hejos
  .large-12.columns.center
    %p Hejos
  .large-12.columns.center
    %p Hejos
.row.third-slide
  .large-12.columns.center
    %p Hejos
  .large-12.columns.center
    %p Hejos
  .large-12.columns.center
    %p Hejos
  .large-12.columns.center
    %p Hejos