.row.navigation
  %nav.margin-bottom
    .large-6.columns
      = link_to root_path do
        %h1.name
          %span Michał Korulczyk
        
    .large-6.columns
      = render 'layouts/navigation_links'
